.login{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: var(--navbar-height);
    text-align: center;
}
.loginImage{
    margin-left: 0;
}
.login .loginImage img{
    padding-top: 1.3vw;
    width: 60vw;
    height: 42vw;
    object-fit: cover;
}
.login .loginFormLogo img{
    width: 14vw;
    height: 12vw;
    margin-bottom: 1vw;
    margin-top: -1.5vw;
}
.login .loginFormLogo h2{
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2vw;
    margin-bottom: 2.5vw;
    text-align: center;
}
.loginForm .loginCard form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginForm .loginCard{
    width: 24vw;
    height: 22.5vw;
    box-shadow: 0.1vw 0.3vw 0.6vw 0.1vw rgb(204, 198, 198);
    padding-top: 2vw;
    border-radius: 0vw 0vw 0.4vw 0.4vw;
}
.loginForm .loginCard form input{
    height: 2.5vw;
    width: 23vw;
    margin-bottom: 2.3vw;
    font-size: 0.8vw;
}

.loginForm .loginCard form button{
    width: 18vw;
    height: 3vw;
    margin-top: -0.6vw;
    border-radius: 1.7vw;
    border: none;
    background: #665b5b;
    color: white;
    font-size: 1.3vw;
}
.loginCard h4{
    font-size: 0.9vw;
    margin-top: 1vw;
}
@media (max-width: 380px){
    .login {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 9vw;
    }
    .loginImage{
        order: 2;
    }

    .login .loginImage img {
        padding-top: 1.3vw;
        width: 84vw;
        height: 50vw;
        object-fit: cover;
    }
    .loginForm{
        order: 1;
    }

    .login .loginFormLogo img {
        width: 40vw;
        height: 34vw;
        margin-bottom: 2vw;
        margin-top: -2.5vw;
    }

    .login .loginFormLogo h2 {
        font-size: 4vw;
        margin-bottom: 5vw;
    }

    .loginForm .loginCard {
        margin-top: 7vw;
        width: 78vw;
        height: 35vw;
        padding-top: 5vw;
        padding-bottom: 4vw;
    }

    .loginForm .loginCard form input {
        width: 63vw;
        padding: 3.5vw;
        font-size: 3.5vw;
    }

    .loginForm .loginCard form button {
        width: 55vw;
        height: 7vw;
        font-size: 4.5vw;
    }

    .loginCard h4 {
        font-size: 2.7vw;
        margin-top: 2vw;
    }
}

@media (min-width: 380px) and (max-width: 768px) {
    .login {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 8vw;
    }
    .loginImage{
        order: 2;
    }

    .login .loginImage img {
        padding-top: 1.3vw;
        width: 80vw;
        height: 42vw;
        object-fit: cover;
    }
    .loginForm{
        order: 1;
    }

    .login .loginFormLogo img {
        width: 40vw;
        height: 34vw;
        margin-bottom: 2vw;
        margin-top: -2.5vw;
    }

    .login .loginFormLogo h2 {
        font-size: 4vw;
        margin-bottom: 5vw;
    }

    .loginForm .loginCard {
        margin-top: 7vw;
        width: 75vw;
        height: 33vw;
        padding-top: 4vw;
        padding-bottom: 4vw;
    }

    .loginForm .loginCard form input {
        width: 60vw;
        padding: 3vw;
        font-size: 3vw;
    }

    .loginForm .loginCard form button {
        width: 55vw;
        height: 7vw;
        font-size: 4vw;
    }

    .loginCard h4 {
        font-size: 2.5vw;
        margin-top: 2vw;
    }
}